
.nav-bar {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  

}
.link1{
  color: black;
}
.link2{
  color: black;
}
.link3{
  color: black;
}