
.nav-bar {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  display: flex;
  justify-content:space-around;
}
.link1{
  color: black;


}
.link2{
  color: black;
  grid-column: 2;
}
.link3{
  color: black;
  grid-column: 3;
}